.card1{
    max-width: 600px;
    max-height: 140px;
    text-decoration: none;
}

.card1Controlled {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #404040;
}

.card1Controlled:hover {
    background-color: gainsboro;
}

.card1Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1em;
}

.card1Profile {
    display: flex;
    align-items: center;
    margin: 0 1em;
    gap: 0.5em;
}

.card1Profile h3 {
    margin: 0 0.4em;
}

.card1FoodTitle {
    margin: 0 1em;
}

.card1Likes {
    margin: 0 1em;
}

.card1Image {
    height: 10em;
    width: 10em;
    border-radius: 5px;
    aspect-ratio: 1;
}

.card1FoodImage {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card1ProfileImageContainer {
    width: 2em;
    height: 2em;
    border-radius: 5em;
    border-style: solid;
}

.card1ProfileImage {
    width: 100%;
    height: 100%;
    border-radius: 5em;
    object-fit: cover;
    aspect-ratio: 1;
}